.top {
  margin-top: 2vh;
}

.input-box {
  height: 25px;
  border: 1px solid #d9d9d9;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.buttons {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 25px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  background-color: #d9d9d9;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

.add-button {
  width: 90px;
  border-radius: 0 8px 8px 0;
}

.edit-button {
  width: 110px;
}

.submit-edit-button {
  width: 140px;
  border-radius: 0 8px 8px 0;
}

.toggle-edit-delete-button {
  width: 110px;
}